body {
    background: rgb(138,137,168);
    background: radial-gradient(circle, rgba(138,137,168,1) 0%, rgba(13,12,12,1) 65%, rgba(23,98,113,1) 100%);
    height: 100vh;
}
.topnav {
    display:flex;
    padding: 0.5em;
    flex-direction: row;
    justify-content: space-between;
}
.HighScores {
    display:flex;
    color:rgb(245, 223, 30);
    margin-top: 0%;
}
#timer {
    display:flex;
    margin-top: 0%;
    color:rgb(245, 223, 30);
}
#start {
    margin:auto;
    margin-top: 100px;
    text-align: center;
    display:flex;
    justify-content: center;
    font-size: 40px;
    border-radius: 5px;
    background-color:rgb(245, 223, 30);
    font-weight: bold;
    padding:25px;
}

section {
    min-height: 25vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.quiz-container {
    padding: 50px 30px 30px 30px;
    margin: 25px;
    width:90%;
    max-width: 600px;
    border:3px solid black;
    background-color: rgb(66, 88, 88);
    border-radius: 20px;
    color:floralwhite;
    transition: .3s ease background-color;
    overflow:hidden;
}
.quiz-container .scores {
    display:flex;
    justify-content: flex-end;
}
.quiz-container .scores #score-count{
    margin-left: 10px;
}
form h1 {
    font-size:1.6rem;
    margin-bottom:3rem;
}
form .option {
    font-size:1.2rem;
    margin:10px;
    padding:10px;
    transition: .3s ease background-color;
    border-radius:4px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:stretch;
}
form .option p {
    width:100%;
    margin-left:10px;
    cursor: pointer;
    justify-self: stretch;
}
form .option:hover {
    background-color: thistle;
}
form .option input[type="radio"]:checked +p {
    color:rgb(5, 10, 10);
}

form .submit_button button {
    width:100%;
    margin-top:20px;
    padding:10px;
    font-size:1.5rem;
    font-family:sans-serif;
    background-color:rgb(224, 224, 224);
    border:none;
    cursor:pointer;
    transition: .3s ease background-color;
}
form .submit_button button:hover {
    background-color: rgb(238, 215, 84);
}