.topnav {
    display:flex;
    padding: 0.5em;
    flex-direction: row;
    justify-content: space-between;
}
.HighScores {
    display:flex;
    color:blueviolet;
    margin-top: 0%;
}
.timer {
    display:flex;
    margin-top: 0%;
}