html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
.topnav {
    display:flex;
    padding: 0.5em;
    flex-direction: row;
    justify-content: space-between;
}
.HighScores {
    display:flex;
    color:rgb(245, 223, 30);
    margin-top: 0%;
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    border:solid,grey, 5px;

}
#timer {
    display:flex;
    margin-top: 0%;
    color:rgb(245, 223, 30);
    background-color: green;
    padding: 10px;
    border-radius: 20px;
    border:solid,grey, 5px;
}
#start {
    margin:auto;
    margin-top: 100px;
    text-align: center;
    display:flex;
    justify-content: center;
    font-size: 40px;
    border-radius: 30px;
    background-color:rgb(245, 223, 30);
    font-weight: bold;
    padding:40px;

}

#start {
    transition-duration: 0.4s;
  }
  
#start:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }

section {
    min-height: 25vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.quiz-container {
    padding: 50px 30px 30px 30px;
    margin: 25px;
    width:90%;
    max-width: 600px;
    border:3px solid black;
    background-color: rgb(108, 156, 108);
    border-radius: 20px;
    color:floralwhite;
    transition: .3s ease background-color;
    overflow:hidden;
}
.quiz-container .scores {
    display:flex;
    justify-content: flex-end;
}
.quiz-container .scores #score-count{
    margin-left: 10px;
}
form h1 {
    font-size:1.6rem;
    margin-bottom:3rem;
}
form .option {
    font-size:1.2rem;
    margin:10px;
    padding:10px;
    transition: .3s ease background-color;
    border-radius:4px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:stretch;
}
form .option p {
    width:100%;
    margin-left:10px;
    cursor: pointer;
    justify-self: stretch;
}
form .option:hover {
    background-color: rgb(231, 228, 9);
    font-size: 25px;
}
form .option input[type="radio"]:checked +p {
    color:rgb(5, 10, 10);
}

form .submit_button button {
    width:100%;
    margin-top:20px;
    padding:10px;
    font-size:1.5rem;
    font-family:sans-serif;
    background-color:rgb(224, 224, 224);
    border:none;
    cursor:pointer;
    transition: .3s ease background-color;
}
form .submit_button button:hover {
    background-color: rgb(238, 215, 84);
}